{% extends 'base_login.html' %}
{% load static %}

{% block content %}
  <div class="text-center">
    <img src="{% static 'img/django-logo-negative.png' %}" alt="django-logo-negative.png" width="150px">
    <p>Nós te enviamos um email com instruções para configurar sua senha, se uma conta existe com o email fornecido. Você receberá a mensagem em breve.</p>
    <p>Se você não recebeu um email, por favor certifique-se que você forneceu o endereço que você está cadastrado, e verifique sua pasta de spam.</p>
  </div>
{% endblock %}
